@charset "utf-8";
/* CSS Document */

body {
font: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	color:#282828;
	
	background:#E5E5E5;
	margin: 0px;
	padding: 0px;
	}
	
#main{ 

background: #F5F5F5;
    -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15); 
   padding-top:2px;
   margin:0px auto 0;
   cursor:auto;
   width: 1200px;
	}
	
#logo{
 margin:0px auto 0;
  width: 1200px;
background-position:left;
background-repeat:no-repeat;
height:105px;
 background-image:url(../img/logo.png);
}

#header{
	padding:7px;
   position: relative;
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   background-color:#209cee;
   height:125px;
   color:#FFFFFF;
}
#header:hover{
 color:#FFFFFF;
}
#foot{
 margin:0px auto 0;
  width: 1200px;
background-position:left;
margin-top:20px;
}


#content
{    
   width: 1200px;
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}


.barang{
 background: #FFFFFF;
border:1px solid #EBEBEB;
padding-top:10px;
margin-bottom:20px;
height:260px; 
width:152px;
float:left;  
margin-left:3px; 
margin-right:3px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.barang:hover{
border: 1px solid #DE474C ;
border-style:dashed;
}

.barang_slide{
 background: #FFFFFF;
border:1px solid #EBEBEB;
padding-top:10px;
margin-bottom:20px;
height:200px; 
width:152px;
float:left;   
margin-left:10px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
color: #01669E;
}
.barang_slide:hover{
border:1px solid #7F7A7A;
border-style:dashed;
}

.ktkbiasa{
border:1px solid #D3D3D3;
padding:10px;
margin-bottom:10px;
margin-top:10px;
margin-left:10px; 
margin-right:10px; 
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;

}

.nama-ktkbiasa{
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
margin-bottom:10px;
padding-bottom:10px;
border-bottom:1px solid #D3D3D3;
font-weight:bold;
}

#content-left{
width:220px;
float:left;
background-repeat:no-repeat;
margin-right:10px;

}

#subcontent-left{

background: #FFFFFF;
border:1px solid #EBEBEB;
margin-bottom:2px;
margin-top:2px;
padding:6px;
z-index: 6666669 ; 
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.nama-content{
background-image:url(../img/lop.png);
background-position:left;
background-repeat:no-repeat;
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
margin-bottom:10px;
padding:10px;
border-bottom:0.1px solid #D3D3D3;
padding-left:30px;
font-weight:bold;
text-shadow:2px 2px 2px #D3D3D3;
}

.nama{
color: #01669E;
font-size: 20px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
margin-bottom:10px;
padding:5px;
border-bottom:0.1px solid #D3D3D3;

font-weight:bold;
text-shadow:2px 2px 2px #D3D3D3;
}

.flashdata{
background: #D0F4C8;
border:1px solid #437D33;
color: #437D33;
margin-bottom:10px;
margin-top:2px;
padding:6px;
padding-left:6px;
z-index: 6666669 ; 
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.flashdata-red{
background: #F2DEDE;
border:1px solid #CD4E4C;
color: #CD4E4C;
margin-bottom:10px;
margin-top:2px;
padding:6px;
padding-left:6px;
z-index: 6666669 ; 
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.buku-tamu{
background: #E5EFF8;
padding:8px;
border: 1px  solid #BFC0C2 ;
border-style:dashed;
background-repeat: no-repeat;
border-radius:5px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px;
margin-bottom:2px;
z-index: 6666669 ;   
font-size: 10px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.bukutamu-nama{
font-size: 10px; 
font-weight:bold;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
margin-bottom:1px;
padding:2px;
border-bottom:0.1px solid #FFFFFF;
}

.polling{
font-size: 12px; 
font-weight:bold;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
margin-bottom:1px;
padding:2px;
border-bottom:0.1px solid #FFFFFF;
}

	
	
#footer
{
   border-top:0.1px solid #BFC0C2;
   padding-left:68px;
   margin:0 auto;
   text-align: center;
z-index: 6666669 ; 
}

#footer-content{
margin-bottom:2px;
margin-top:2px;
color:#282828;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;

font-size: 11px;
}


body,td,th {
font-size: 13px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	color: #2E2E2E;
}
a:link {
	color: #023C74;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #024A8D;
}
a:hover {
	text-decoration: none;
	color: #FFB319;
}
a:active {
	text-decoration: none;
	color: #ED9C28;
}



.menuLs li { display:inline;margin-left:5px;margin-right:28px;font-size:14px}
.menuLs ul { display:inline;}
#WhiteColor{
color:#000000;
}
#WhiteColor2{
color:#000000;text-decoration:none;
}


.style1 {
	font-size: 28px;
	font-weight: bold;
}
.Pr{
float:left;
}


.tas{
width:30px;
height:35px; 
background-color:#159F94;
background-image:url(../img/sp.png);
background-repeat:no-repeat;
border:0px solid;
color:#FFFFFF;
cursor:pointer;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-weight: bold;
}

/*----------------------------------------------------------------- STYLE TABEL -----------------------------------------------------------*/ 
.t_bayar
	 {
	 border-collapse:collapse;
	 border-bottom:0.1px dashed #D3D3D3;
	 
	 }
	 
	.t_bayar tr th
	 {
	 font-size:12px;
	 font-weight:normal;
	
	 border-bottom:0.1px solid #D3D3D3;
	 padding:4px;
	 }
	 
	.t_bayar tr td
	 {
	 font-size:12px;
	 padding:4px;
	 border-bottom:0.1px solid #D3D3D3;
	 }
	 



.t_kranjang
	 {
	 border-collapse:collapse;
	 border-bottom:0.1px solid #D3D3D3;
	 }
	 
	.t_kranjang tr th
	 {
	 font-size:12px;
	 font-weight:normal;
	  font-weight:bold;
	 border-bottom:0.1px solid #D3D3D3;
	 	 border-bottom-style:dashed;
	
	 padding:10px;
	 
	 }
	 
	.t_kranjang tr td
	 {
	 font-size:12px;
	 padding:4px;
	 border-bottom:0.1px solid #D3D3D3;
	 }
	
/*----------------------------------------------------------------- halaman -----------------------------------------------------------*/ 
#halaman{ margin:10px; font-size:13px; }
#halaman a { 
	padding:3px;
	 background:#D2322D;
	 border:3px solid #D2322D;
	 border-radius:10px; 
	-moz-border-radius: 10px; 
	-khtml-border-radius:10px;
	-webkit-border-radius: 10px; 
	 font-size:13px;
	 font-weight:bold;
	 color:#FFF;
	 text-decoration:none;
	}
	
#halaman a:hover {
	 background:#13A99D;
	 border:5px solid #13A99D;
	  border-radius:10px; 
	-moz-border-radius: 10px; 
	-khtml-border-radius:10px;
	-webkit-border-radius: 10px; 
	 font-size:13px;
	 font-weight:bold;
	 color:#FFF;
	cursor:pointer;
	 }
	 
.thumb-produk{
border:1px solid #CCCCCC; margin-bottom:10px; padding:5px; width:152px; float:left; margin-right:6px; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 6666669;
}


.keterangan{
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
margin-bottom:5px;
margin-right:5px;
padding:10px;
border-bottom:0.1px solid #D3D3D3;
}


.sukses{
background: #D0F3C7;
 padding:6px;
border: 1px solid #219801; background-repeat: no-repeat;
margin-bottom:10px;
z-index: 6666669 ;   
font-size: 12px; 
color: #5C6200;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

#akun{

background: #FFFFFF;
border:1px solid #EBEBEB;
margin-bottom:2px;
padding:6px;
z-index: 6666669 ; 
width:200px;
margin-right:10px;
border-radius:6px; 
-moz-border-radius: 6px; 
-khtml-border-radius:6px;
-webkit-border-radius: 6px; 
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.akun{
background: #FFFFFF;
border:1px solid #EBEBEB;
margin-bottom:10px;
margin-top:2px;
padding:6px;
padding-left:6px;
z-index: 6666669 ; 
margin-right:10px;
margin-left:10px;
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.nama-akun{
margin-bottom:4px;
font-weight:bold;
padding:6px;
z-index: 6666669 ; 
font-size: 12px; 
border-bottom:1px solid #E9E7E7;
}

.panel{
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
margin-bottom:10px;
padding:5px;
border-bottom:0.1px solid #E9E7E7;
}

.pnl{
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
margin-bottom:1px;
padding:3px;
margin-left:10px; 
border-bottom:0.1px solid #E9E7E7;
}

#login{

background: #FFFFFF;
border:1px solid #D3D3D3;
margin-bottom:2px;
padding:6px;
z-index: 6666669 ; 

width:550px;
height:260px;
margin-right:20px;
border-radius:6px; 
-moz-border-radius: 6px; 
-khtml-border-radius:6px;
-webkit-border-radius: 6px; 
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}


#bayar{
background: #FFFFFF;
border:1px solid #D3D3D3;
margin-bottom:2px;
padding:6px;
float:left;
margin-right:20px;
border-radius:6px; 
-moz-border-radius: 6px; 
-khtml-border-radius:6px;
-webkit-border-radius: 6px; 
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.byr{
background-image:url(../img/lop.png);
background-position:left;
background-repeat:no-repeat;
font-size: 15px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
margin-bottom:10px;
padding:10px;
padding-left:30px;
font-weight:bold;
text-shadow:2px 2px 2px #D3D3D3;
}

.cekot{
background-image:url(../img/lop.png);
background-position:left;
background-repeat:no-repeat;
font-size: 20px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;

margin-left:250px;
padding:10px;
padding-left:30px;
font-weight:bold;
text-shadow:2px 2px 2px #D3D3D3;
border-bottom:2px solid #E9E7E7;
width:580px;
}

.merah{
font-size: 10px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
padding:1px;
color:red;
}

.tulisan{
font-size: 14px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
margin-bottom:1px;
padding:15px;
border-bottom:0.1px solid #E9E7E7;
}

 .inputan{
       font-size:12px;
       padding:4px 2px;
	   width:250px;
       border:solid 1px #AAAAAA;
	   margin-bottom:10px;
	   margin-top:5px;
	   }
	   
.inputan-txt{
       font-size:12px;
       padding:4px 2px;
	   width:600px;
	   height:100px;
       border:solid 1px #AAAAAA;
	   margin-bottom:20px;
	   margin-top:5px;
	   }


	   
.qty{
       font-size:12px;
       padding:4px 2px;
	   border:solid 1px #AAAAAA;
	   margin-bottom:10px; 
 
   }

   .tgl{
       font-size:12px;
       padding:4px 2px;
	   width:80px;
       border:solid 1px #AAAAAA;
       
   }
   
.gambar{

 -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   padding:5px;
   margin:0px auto 0;
   margin-left:10px;
   cursor:auto;
	}
	
.sold{
width:152px;
height:80px;
background-image:url(../img/sold.png);
background-repeat:no-repeat;
background-position:bottom;
}
.soldb{
width:200px;
height:119px;
background-image:url(../img/soldb.png);
background-repeat:no-repeat;
background-position:top;
}

	
.tombol{
width:152px;
background-color:#1CA1E6;
border:1px solid #1CA1E6;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
color:#FFFFFF;
}
.tombol:hover{
background-color:#1BB5FF;
border:1px solid #1BB5FF;
color:#FFFFFF;
cursor:pointer;
}

.tmbl-red{
width:205px;
background-color:#D2322D;
border:1px solid #D2322D;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
color:#FFFFFF;
}
.tmbl-red:hover{
background-color:#13A99D;
border:1px solid #13A99D;
color:#FFFFFF;
cursor:pointer;
}

.tmbl-biru{
width:152px;
height:30px;
font-size: 15px; 
background-color:#1CA1E6;
border:3px solid #1CA1E6;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
color:#FFFFFF;
}
.tmbl-biru:hover{
background-color:#1BB5FF;
border:2px solid #1BB5FF;
color:#FFFFFF;
cursor:pointer;
}

.tmbl-oren{

background-color:#F0AD4E;
padding:6px;
padding-left:50px;
padding-right:50px;
border:1px solid #ED9C28;
 -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
 border-radius:4px;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
color:#FFFFFF;
margin:5px;
font-weight: bold;
}

.tmbl-oren:hover{
background-color:#ED9C28 ;
border:1px solid #ED9C28;
color:#FFFFFF;
cursor:pointer;
}

.tmbl-putih{

background-color:#C9C5C5;
padding:6px;
border:1px solid #C9C5C5;
 -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
 border-radius:4px;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
color:#2E2E2E;
}

.tmbl-putih:hover{
background-color:#6F6D6D ;
border:1px solid #6F6D6D;
color:#FFFFFF;
cursor:pointer;
}

.tmbl-red-dell{
background-color:#F2DEDE;
padding:3px;
padding-left:10px;
padding-right:10px;
margin-right:3px;
border:1px solid #D2322D;
color:#D2322D;
 border-radius:15px;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
}

.tmbl-red-dell:hover{
background-color:#D2322D ;
border:1px solid #F2DEDE;
cursor:pointer;
color:#F2DEDE;
}

.tmbl-ijo{

background-color:#5CB85C;
border:1px solid #47A447;
padding:3px;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
color:#FFFFFF;
}

.tmbl-ijo:hover{
background-color:#47A447; border:1px solid #47A447; color:#FFFFFF; cursor:pointer;
}

.bktm{

border: 1px  solid #BFC0C2 ;
border-style:dashed;
border-radius:5px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px;
background: #E5EFF8;
padding:5px;
margin-bottom:2px;
margin-top:1px;
width:926px;
float:left;   
margin-left:10px; 
font-size: 12px; 
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;


}

.tmbl{
width:152px;
background-color:#B3C833;
border:1px solid #B3C833;
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
color:#FFFFFF;
}
.tmbl:hover{
background-color:#C1D639;
border:1px solid #C1D639;
color:#FFFFFF;
cursor:pointer;
}

.fb{
width:25px;
height:25px;
background-color:#428BCA;
background-image:url(../img/fb.png);
border:1px solid #428BCA;
border-radius:7px;
color:#FFFFFF;
}
.fb:hover{
background-color:#3276B1;
border:1px solid #3276B1;
color:#FFFFFF;
cursor:pointer;
}


/* -------------------------------------------------------- M E N U ------------------------------------------*/
#cssmenu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: auto;
 
}
/* #transparan {background: rgba(4,111,192, .8);} */
#cssmenu ul {
  background: #13A99D;
  height: 45px;
  list-style: none;
  margin: 0;
  padding: 0;
  
}
#cssmenu li {
  float: left;
  padding: 0px;
}
#cssmenu li a {
  background: #13A99D  bottom right no-repeat;
  display: block;
  font-weight: normal;
  line-height: 45px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  color: #EDEDED;
}
#cssmenu ul ul a {
  color: #EDEDED;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
  background: #DD4246 url('images/hover.png') bottom center no-repeat;
  color: #FFFFFF;
  text-decoration: none;
}
#cssmenu li ul {
  background: #13A99D;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/

}
#cssmenu li:hover ul {
  display: block;
}
#cssmenu li li {
  background: url('images/sub_sep.gif') bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  background: #DD4246 url('images/hover_sub.png') center left no-repeat;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}
#cssmenu p {
  clear: left;
}

/*------------------------------------------------------CSS BUTTON----------------------------------------------------*/
/*!
 * Bootstrap v2.1.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */




[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
    color: #FFFFFF;
}



.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}
